---

---

<footer class='text-slate-300 text-xs py-8 px-2 w-full max-w-[900px] mx-auto text-center md:text-left flex flex-col md:flex-row justify-between gap-4'>
    <div>
      <div class='mb-1'>Desarrollado con ♥ por:</div>
      <div>
        <a class="underline-offset-2 decoration-slate-600 underline hover:decoration-transparent" href="https://github.com/ibaiway">Ibai Alberdi</a>
      </div>
    </div>

    <div>
      Código disponible en <a class="underline-offset-2 decoration-slate-600 underline hover:decoration-transparent" href="https://github.com/ibaiway/open-data-euskadi">GitHub</a>
    </div>
  </footer >