---
import Footer from '../components/layout/Footer.astro';
import GridMenu from '../components/layout/GridMenu';
import Layout from '../layouts/Layout.astro';
import { menuItems } from '../config';

//const allPages = await Astro.glob('./*.mdx');

---

<Layout title="Open Data Euskadi">
	<div class='min-h-[100dvh] flex flex-col justify-center'>
		<main class="text-slate-50 mb-[2vh]">
		  <div class='text-center mb-[5vh] pt-4'>
			<h1 class='logo text-4xl mb-3'>Open data <span class='text-5xl logo-text-gradient'>EUSKADI</span></h1>
			<p class="text-lg text-slate-400">Visualización de los datos abiertos <br />del Gobierno del País Vasco</p>
		  </div>
		  <GridMenu items={menuItems} />
		</main>
  <Footer />
	  </div>
</Layout>

