---
import Footer from '../components/layout/Footer.astro';
import GridMenu from '../components/layout/GridMenu';
import Header from '../components/layout/Header.astro';
import Navbar from '../components/layout/Navbar';
import Layout from '../layouts/Layout.astro';
import Prose from './Prose.astro';
const { title } = Astro.props;
const { pathname } = Astro.url

---

<Layout title={title}>
    <div class='md:grid md:grid-cols-[280px_1fr] gap-6 min-h-[100vh]'>
        <div class="md:hidden">
          <div class="border-b border-b-slate-800">
            <Header />
          </div>

        </div>

        <div class="hidden md:block pr-6 border-r border-r-slate-800">
            <Navbar pathname={pathname}/>
        </div>

        <div class='grow md:py-4 flex flex-col'>
          <main class='content-layout grow'>
            <Prose>
                <slot />
                </Prose>
          </main>
            <Footer />
        </div>
    </div>
</Layout>


