---
import clsx from 'clsx';
import './globals.css'
import { AstroFont } from "astro-font";

interface Props {
	title: string;
}


const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
      config={[
        {
          src: [],
          name: "Mulish",
          // Google Fonts URL
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap',
          preload: true,
          display: "swap",
          selector: ".font-mulish",
          fallback: "sans-serif",
        },
		{
		  src: [],
		  name: "ibm-plex-sans",
		  // Google Fonts URL
		  googleFontsURL: 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap',
		  preload: true,
		  display: "swap",
		  selector: ".ibm-plex-sans",
		  fallback: "sans-serif",
		},
		{
          name: "Urkiola",
          src: [
            {
              style: 'normal',
              path: 'public/fonts/Urkiola.ttf'
            },

          ],
          preload: true,
          display: "swap",
          selector: "urkiola",
          fallback: "sans-serif",
        },
		
      ]}
	  
    />
	</head>
	<body class={clsx("font-mulish","font-ibm-plex-sans","bg-white dark:bg-slate-950")}>
		<slot />
	</body>
</html>
