---
import clsx from 'clsx';
import './globals.css'
import { AstroFont } from "astro-font";
import SEO from '../components/SEO.astro';

interface Props {
	title: string;
  description: string;
  image?: string;
}


const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
    <SEO title={title} description={description} image={image}></SEO>
		<AstroFont
      config={[
        {
          src: [],
          name: "Mulish",
          // Google Fonts URL
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap',
          preload: true,
          display: "swap",
          selector: ".font-mulish",
          fallback: "sans-serif",
        },
		{
		  src: [],
		  name: "ibm-plex-sans",
		  // Google Fonts URL
		  googleFontsURL: 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap',
		  preload: true,
		  display: "swap",
		  selector: ".ibm-plex-sans",
		  fallback: "sans-serif",
		},
		{
          name: "Urkiola",
          src: [
            {
              style: 'normal',
              path: 'public/fonts/Urkiola.ttf'
            },

          ],
          preload: true,
          display: "swap",
          selector: "urkiola",
          fallback: "sans-serif",
        },
		
      ]}
	  
    />
	</head>
	<body class={clsx("font-mulish","font-ibm-plex-sans","bg-white dark:bg-slate-950")}>
		<slot />
	</body>
</html>
