---
---
<div
  class="prose-p:text-slate-400 prose-p:mb-4 
  prose-h1:text-3xl prose-h1:text-slate-100 prose-h1:font-bold prose-h1:mb-3 prose-h1:mt-3 md:prose-h1:mt-8 
  prose-h2:text-xl prose-h2:text-slate-100 prose-h2:font-bold prose-h2:mb-3 prose-h2:mt-3 md:prose-h2:mt-8 
  prose-h3:text-lg prose-h3:text-slate-100 prose-h3:font-bold prose-h3:mb-3 prose-h3:mt-3 md:prose-h3:mt-8 
  prose-h4:text-lg prose-h4:text-slate-100 prose-h4:font-bold prose-h4:mb-3 prose-h4:mt-3 md:prose-h4:mt-8
  prose-a:text-blue-500 hover:prose-a:underline
  ">
  <slot />
</div>